* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 125px;
}

.calc-body {
    display: flex;
    width: 350px;
    height: auto;
    padding-left: 10px;
    color: #fff;
    background: #273773;
    margin-left: 150px;
    flex-wrap: wrap;
}

.calc-buttons {
    display: flex;
    height: auto;
    line-height: 70px;
    text-align: center;
    flex-wrap: wrap;
}

input {
    font-size: 40px;
    color: #78736B;
    padding-left: 20px;
    background: #fff;
    height: 100px;
    border: none;
    width: 330px;
    margin-left: 160px;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 35px;
    font-size: 50px;
}

.clear-button {
    background-color: #8bd8bd;
}

.button {
    width: 80px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
}

.button:hover {
    background-color: #8bd8bd;
}

.num {
    color: #fff;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 60px;
    cursor: pointer;

}

.num:hover {
    color: #273773;
    font-weight: 800;
}

.equal-bd {
    background-color: #8bd8bd;
    width: 350px;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-left: 150px;
}

.equal {
    color: #fff;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.equal:hover {
    color: #273773;
    font-weight: 800;
}

.clear {
    color: #fff;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.clear:hover {
    color: #273773;
    font-weight: 800;
}

.delete,
.percnt,
.sqrt,
.plus,
.dot,
.quot,
.divi,
.multi,
.minus {
    color: #fff;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.delete:hover {
    color: #273773;
    font-weight: 800;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
}

.percnt:hover {
    color: #273773;
    font-weight: 800;
}

.sqrt:hover {
    color: #273773;
    font-weight: 800;
}

.plus:hover {
    color: #273773;
    font-weight: 800;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
}

.dot:hover {
    color: #273773;
    font-weight: 800;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
}

.quot:hover {
    color: #273773;
    font-weight: 800;
}

.div:hover {
    color: #273773;
    font-weight: 800;
}

.multi:hover {
    color: #273773;
    font-weight: 800;
}

.minus:hover {
    color: #273773;
    font-weight: 800;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
}

.height-74 {
    height: 100px;
    text-align: center;
    background-size: cover;
}

/* ForTablet */
@media only screen and (min-width : 768px) and (max-width: 1023px) {}

/* For Phone  */
@media only screen and (max-width: 767px) {}